---
import logo from "../assets/logo-w-text.svg";
import Hamburger from "./Hamburger";
import NavMobile from "./NavMobile";

import { navLinks } from "../data";
---

<header class="px-fluid-base">
  <div class="max-w-6xl m-auto flex justify-between items-center">
    <a href="/">
      <img src={logo.src} alt="logomark" class="w-32" />
    </a>

    <!-- mobile menu -->
    <Hamburger client:idle />
    <NavMobile client:idle>
      {navLinks.map(link => <a href={link.path}>{link.name}</a>)}
    </NavMobile>

    <nav class="hidden lg:flex gap-fluid-4xl">
      {navLinks.map(link => <a href={link.path}>{link.name}</a>)}
    </nav>
  </div>
</header>
